<div class="d-flex justify-content-center align-items-center w-100 h-100 register-container">
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center pb-1">
                <h2>Change Password</h2>
                <p class="text-muted mb-4">Enter your current password and new password</p>

                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-left mt-4">
                    <div class="form-group">
                        <input type="password" formControlName="currentPassword" class="form-control"
                            placeholder="Current Password" />
                        <small class="text-danger"
                            *ngIf="form.get('currentPassword')?.touched && form.get('currentPassword')?.hasError('required')">
                            Current password is required
                        </small>
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="newPassword" class="form-control"
                            placeholder="New Password" />
                        <small class="text-danger"
                            *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('required')">
                            New password is required
                        </small>
                        <small class="text-danger" *ngIf="form.get('newPassword')?.hasError('minlength')">
                            Password must be at least 6 characters long
                        </small>
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            placeholder="Confirm New Password" />
                        <small class="text-danger"
                            *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')">
                            Confirm password is required
                        </small>
                        <small class="text-danger" *ngIf="form.get('confirmPassword')?.hasError('mismatchedPasswords')">
                            Passwords do not match
                        </small>
                    </div>

                    <div class="form-group mt-4">
                        <button [disabled]="!form.valid" class="btn btn-block btn-primary" type="submit">Change
                            Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>