.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.table {
  margin-top: 20px;
}

.menu-icon {
  color: blue;
  font-size: 15px;
  margin-right: 8px;
  text-align: center;
  background-color: rgb(196, 188, 188);
}
