<div class="row">
    <div class="col-lg-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Master User Role</h5>
            </div>
            <div class="card-body widget-body">
                <form [formGroup]="userRoleForm" (ngSubmit)="isEditMode?updateUserRole():onSubmit()">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="roleId">User Role Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="User Role Name" id="name"
                                        formControlName="name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputState">Priority</label>
                                <select #st class="form-control" formControlName="priorityLevel">
                                    <option value="" disabled selected>Choose...</option>
                                    <option value="temporary">Temporary</option>
                                    <option value="permanent">Permanent</option>
                                </select>
                                <div *ngIf="userRoleForm.get('priorityLevel')?.invalid && (userRoleForm.get('priorityLevel')?.dirty || userRoleForm.get('priorityLevel')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="userRoleForm.get('priorityLevel')?.errors?.required">Priority is
                                        required.</div>
                                </div>

                            </div>
                            &nbsp;
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">{{isEditMode?"Update":"Submit"}}</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="input-group mb-2">
    <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></span>
    <input class="form-control" type="text" placeholder="Search by Name..." (keyup)="updateFilter($event)" />
</div>
<ngx-datatable #table class="material" [headerHeight]="40" [limit]="10" [columnMode]="'force'" [footerHeight]="50"
    [rowHeight]="'auto'" [rows]="role">

    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="true"
        [resizeable]="false">
    </ngx-datatable-column>
    <!-- Sr. No Column -->
    <ngx-datatable-column name="srNo" [width]="60">
        <ng-template ngx-datatable-header-template>
            <span class="column-header">Sr. No</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
            {{ rowIndex + 1 }}
        </ng-template>
    </ngx-datatable-column>
    <!-- Department UserRole -->
    <ngx-datatable-column name="user role">
        <ng-template ngx-datatable-header-template>
            <span class="column-header">User Role</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
            <span>{{row.name}}</span>
        </ng-template>
    </ngx-datatable-column>
    <!--Entry Date-->
    <ngx-datatable-column name="created_on">
        <ng-template ngx-datatable-header-template>
            <span class="column-header">Entry Date</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
                <span> {{ row.created_on | date}}</span>
        </ng-template>
    </ngx-datatable-column>
    <!--Priority-->
    <ngx-datatable-column name="priorityLevel" [sortable]="true" [resizeable]="true">
        <ng-template ngx-datatable-header-template>
            <span class="column-header">Priority</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
            <span *ngIf="row.is_deletable == 0">Permanent</span>
            <span *ngIf="row.is_deletable == 1">Temporary</span>
        </ng-template>
    </ngx-datatable-column>
    <!-- Department Action -->
    <ngx-datatable-column name="action" [sortable]="true" [resizeable]="true">
        <ng-template ngx-datatable-header-template>
            <span class="column-header">Action</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
            <button class="edit btn btn-outline-success w-100p mb-1 mr-1" type="button" title="Edit"
                (click)="editName(row?.id)">
                <span class="edit-icon"></span>
            </button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>